EDB
metro(Charpennes)
metro(Perrache)
metro(PartDieu)
reachable(Charpennes, Perrache)
reachable(PartDieu, Charpennes)
reachable(Debourg, PartDieu)
reachable(PartDieu, Perrache)
reachable(Debourg, Debourg)
reachable(PartDieu, PartDieu)
reachable(Debourg, Perrache)

IDB
metro($x)
reachable($x,$y)
unreachable($x,$y)

MAPPING
metro($x), metro($y), NEG reachable($x,$y) -> unreachable($x,$y).


